.banner-list {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  margin-bottom: 20px;
}

.banner-list h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.btn-banner-list {
  margin-top: 10px;
  color:rgb(234, 184, 124);
  border: 2px solid rgb(234, 184, 124);
  font-weight: 400;
   //  margin: 0 auto;
}

.btn-banner-list:hover {
  border: 2px solid rgb(234, 184, 124);
  background-color: rgb(234, 184, 124);
  color: rgb(81, 47, 6);
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
}
