// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

// ************************ BANNER ************************

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 30px;
  height: 100px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// ************************ CARDS ************************

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // box-shadow: 2px 2px #6c5ee72d;
}

.card-category:hover {
box-shadow: none;
border: 5px solid #f4f4f4;
border-radius: 10px;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

ul {
  list-style: none;
  padding: 16px;
}

li a {
  text-decoration: none;
  color: rgb(135, 41, 173);
}

// ************************ My lists header ************************

.my-lists {
  text-align: center;
  color: #6b5ee7;
}

// ************************ Button header ************************

.btn-ghost {
  color: #1de7f5;
  border: 2px solid #1de7f5;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 600;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #1a5357;
  background-color: #1de7f5;
  border: 2px solid #1de7f5;

}
